.container-fluid{
    padding-top: 1rem !important;
    padding-left: 0px;
    padding-right: 0px;
}

.grid{
    padding: 0px 10px;
}

.header{
    padding: 0px 15px;
    background-color: white;
    z-index: 999;
}

.cart-icon{
    height: 30px;
    width: 30px;
}


.card-buttons span{
    display: inline-block;
    justify-content: center;
    align-items: center;
}

.btn{
    display: inline;
    justify-content: space-evenly;
    align-items: center;
    border: none;
    padding: 12px 16px;
    font-size: 16px;
    cursor: pointer;
    
}
.modal-custom{
    /* width: 100%; // Full width
    height: 100%; // Full height 
    overflow: 100vw; */

    width: 50vw;
    height: 35vw;
    max-height: 70vw;
    overflow: hidden;
}

.add-to-cart-icon, .more-info-icon{
    height: 40px;
    width: 40px;
} 

.menu{
    margin-top: 0px !important;
    padding-top: 10px !important;
    top:0;
    z-index: 999;
    background-color: white;
}

.menu li{
    padding: 0px !important;
}

.logo{
    height: 50px;
    width: 50px;
}

#search{

    height: 45px;
}

select{
    height: 45px;
    padding: 0px 0px 0px 15px !important;
    /* padding-left: 20px; */
}

#duration-range{
    height: 20px;

}


#filter{
    width: 100px;

}





.leaflet-control-zoom-in,
.leaflet-control-zoom-out {
	padding: 1px 5px !important;
	border-radius: 0px !important;
}
#map{ 
    height: 100vh; 
    /* width: 620px; */
    margin-top: 20px; /* Adding margin to map to align with cards*/
    position: sticky !important;
}


/* Course card styling */

article{
    margin-top: 10px;
    padding: 10px 20px;
}

article h1{
    margin-bottom: 10px;
}

.metadata{
    margin-bottom: 10px;
}

.metadata .column{
    display: inline-block;

}

.metadata .column svg{
   width: 30px;
   height: 30px;
    
}

.organisation h6{
    display: inline;

}


.course-details{
    display: inline;

}
.course-details svg{
    width: 30px;
    height: 30px;
    padding: 0px 5px;  
 }


.filter-menu{
    margin-left: 0px;
    margin-right: 0px;
}




.organisation svg{
   width: 30px;
   height: 30px;
   padding: 0px 5px;  
}

.stick {
    position: -webkit-sticky;
    position: sticky;
}

.stick-top{
    position: -webkit-sticky;
    position: sticky;
    top: 0px;
}
